@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1468px;
  margin: 0px auto;
  font-family: "Poppins", sans-serif !important;
}

.sliders {
  overflow-x: hidden;
}

.slider-content {
  display: flex;
  justify-content: start;
  align-items: start;
  transition: transform 0.5s ease-in-out;
  color: #fff;
}

.slide-card {
  position: relative;
  min-width: calc(100% / 3) !important;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 0 5px;
}
.slide-card-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;
  border-radius: 20px;
  border: 2px solid #c57eeea0;
  background-color: transparent;
  background-image: linear-gradient(135deg, #0d0a1b 0%, #1f1f1f 100%);
}

.designation {
  font-size: 16px;
  font-weight: 400;
}

.slide-card-inner:hover {
  border: 2px solid #af32f6;
  transition: all 0.3s ease-in-out;
}

.divider {
  width: 10%;
  height: 2px !important;
  background-color: #af32f6;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.slide-card:hover .divider {
  width: 100%;
  height: 2px;
  background-color: #af32f6;
  transition: all 0.3s ease-in-out;
}

.slider-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.slider-card-and-title-group {
  display: flex;
  gap: 10px;
}

.slider-card-image {
  width: 80px;
  height: 80px;
}

.slider-card-image img {
  width: 100%;
}

.slider-card-title {
  font-size: 20px;
  font-weight: 700;
}

.slider-description {
  font-style: italic;
}

.slide-card i {
  color: #1b1b1b;
  transition: all 0.3s ease-in-out;
}

.slide-card:hover i {
  color: #af32f6;
  transition: all 0.3s ease-in-out;
}

.slider-icons-group i {
  font-size: 14px;
}

.slidercard-social-icon {
  width: 40px;
  height: 40px;
}

.slidercard-social-icon img {
  width: 100%;
  padding: 5px;
}

.slider-dot-and-next-prev-button-group {
  width: 60%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 20px;
}

.slider-dot-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.slider-dot.active {
  background-color: #af32f6 !important;
}

.slider-dot {
  background-color: #cbcbcb;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.slider-dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #cbcbcb;
  border-radius: 100%;
}
.slider-dot-group .active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 1px solid #af32f6;
  border-radius: 100%;
}
.next-prev-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.next-prev-button-group button {
  border: none;
  width: 45px;
  height: 45px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.next {
  color: white;
  background-color: #af32f6;
}

.prev {
  color: white;
  background-color: #af32f6;
}

@media screen and (min-width: 0px) and (max-width: 520px) {
  .slider-dot-and-next-prev-button-group {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .slider-dot {
    background-color: #cbcbcb;
    width: 8px;
    height: 8px;
  }

  .slider-dot::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #cbcbcb;
    border-radius: 100%;
  }

  .next-prev-button-group button {
    border: none;
    width: 35px;
    height: 35px;
    font-size: 14px;
  }

  .slide-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100% !important;
    height: 100%;
    box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 67px -71px rgba(0, 0, 0, 0.75);
  }
}
